<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
   To finish the verification process,
enter the following code in the browser:
</p>

<p>{{token}}</p>

<p>If you did not request this email you can safely ignore it.</p>
